<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A&amp;ELoginScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OneSignalNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>727F23701E8C908800A88E8C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>728D91411E8C954B00B584AF</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>728D91511E8C959200B584AF</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>72FBA0311E8C91D30062B994</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>72FBA0401E8C92440062B994</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>72FBA04F1E8C92E70062B994</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>72FBA05F1E8C93520062B994</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F8DD99471E4A564800DC3EB9</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
